@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "flowbite/plugin";


@theme{
    --color-primary-50: hsl(89, 100%, 95%);
    --color-primary-100: hsl(89, 100%, 90%);
    --color-primary-200: hsl(89, 100%, 80%);
    --color-primary-300: hsl(89, 100%, 70%);
    --color-primary-400: hsl(89, 100%, 60%);
    --color-primary-500: hsl(89, 100%, 50%); /* Base */
    --color-primary-600: hsl(89, 100%, 40%);
    --color-primary-700: hsl(89, 100%, 30%);
    --color-primary-800: hsl(89, 100%, 20%);
    --color-primary-900: hsl(89, 100%, 10%);

    /*  Font Theme */
    --font-heading: 'Poppins', sans-serif;
    --font-body: 'Lora', serif;
}


@layer base {
    html {
        background: #F9F9F9;
        @apply text-slate-600 font-body
    }
}

@layer components {
    .nav-link {
        @apply flex text-sm uppercase font-bold font-heading hover:text-primary-700 duration-200 transition
    }

    .nav-logo {
        @apply text-2xl uppercase font-bold font-heading hover:text-primary-700 duration-200 transition
    }

    .sidebar {
        @apply fixed top-0 left-0 h-full w-[75%] z-50 bg-white;
    }

    .backdrop {
        @apply fixed top-0 left-0 w-full h-full z-40 bg-black/60;
    }

    .bubble {
        width: 100%;
        height: 100%;
        overflow: hidden;
        clip-path: polygon(50% 0%, 80% 10%, 92% 32%, 97% 62%, 94% 97%, 46% 100%, 5% 92%, 0% 70%, 6% 35%, 22% 7%);
        transition: clip-path 1s ease;
    }

    .card {
        @apply relative px-3 py-3 rounded-md w-auto h-auto duration-200 transition
    }

    .card .card-body {
        @apply py-2 px-4
    }

    .card img {
        @apply object-cover w-full rounded-md aspect-video
    }

    .card .card-backdrop {
        @apply absolute top-0 left-0 h-full w-full bg-black/60 flex justify-center items-center rounded-xl opacity-0 duration-200 transition
    }

    .card:hover .card-backdrop {
        @apply opacity-100
    }

    .avatar {
        @apply text-lg text-center flex justify-center items-center rounded-full size-8 bg-gray-300
    }


    .custom-container {
        @apply px-4 lg:px-8 xl:px-10 py-5 ;
    }

    .btn {
        @apply
        font-heading
        font-bold
        inline-flex
        items-center
        justify-center
        px-4
        py-2
        rounded-md
        bg-transparent
        focus:outline-none
        transition
        duration-200
        cursor-pointer;
    }

    .btn-primary {
        @apply bg-primary-700 hover:bg-primary-800 ring-primary-400 text-white text-sm
    }

    .btn-secondary {
        @apply text-gray-700 bg-gray-200 hover:bg-gray-300 text-sm;
    }

    .btn-success {
        @apply bg-green-600 hover:bg-green-700 text-white text-sm;
    }


    .btn-danger {
        @apply bg-red-600 hover:bg-red-700 text-white text-sm;
    }


    .btn-ghost {
        @apply bg-transparent text-primary-600 hover:bg-primary-100 text-sm;
    }


    .btn-outline {
        @apply
        border
        border-[--color-primary-600]
        text-[--color-primary-600]
        bg-transparent
        hover:bg-[--color-primary-400]
        hover:text-white;
    }

    .btn-sm {
        @apply px-3 py-1 text-sm;
    }

    .btn-lg {
        @apply px-6 py-3 text-lg;
    }


    .form-control-checkbox {
        @apply w-4 h-4 text-primary-700 bg-gray-200 border-gray-400 rounded focus:ring-transparent focus:ring-2
    }
    .form-control-field {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-700 focus:border-primary-700 block w-full p-2.5
    }

    .form-control-label {
        @apply text-sm font-medium text-gray-900 dark:text-gray-300
    }

    .badge {
        @apply text-xs font-heading font-medium px-1.5 py-0.5 text-primary-800 bg-primary-500/10 rounded-full capitalize;
    }

    .badge-success {
        @apply text-xs font-heading font-medium px-1.5 py-0.5 text-green-800 bg-green-500/10 rounded-full capitalize;
    }

    .badge-info {
        @apply text-xs font-heading font-medium px-1.5 py-0.5 text-blue-800 bg-blue-500/10 rounded-full capitalize;
    }

    .badge-warning {
        @apply text-xs font-heading font-medium px-1.5 py-0.5 text-yellow-800 bg-yellow-400/20 rounded-full capitalize;
    }

    .badge-danger {
        @apply text-xs font-heading font-medium px-1.5 py-0.5 text-red-800 bg-red-500/10 rounded-full capitalize;
    }

    .badge-neutral {
        @apply text-xs font-heading font-medium px-1.5 py-0.5 text-gray-700 bg-gray-300/80 rounded-full capitalize;
    }

    .badge-dark {
        @apply text-xs font-heading font-medium px-1.5 py-0.5 text-white bg-gray-800 rounded-full capitalize;
    }


    .alert {
        @apply text-slate-600 border-slate-600 bg-slate-100 p-2 border-1 rounded-md
    }

    .alert-info {
        @apply text-blue-600  border-blue-600 bg-blue-100
    }

    .alert-danger {
        @apply text-red-700  border-red-600 bg-red-100
    }

    swiper-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    swiper-container::part(button-next) {
        @apply text-gray-200 bg-black/60 rounded-full w-[35px] h-[35px] flex justify-center items-center;
    }

    swiper-container::part(button-prev) {
        @apply text-gray-200 bg-black/60 rounded-full w-[35px] h-[35px] flex justify-center items-center;
    }
}

